.table-holder {
  padding-top:  10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-collapse:separate;
  border:solid lightgray 1px;
  border-radius:20px;
  background-color: lightgray;
}

table {
  width: 100%;
  background-color: lightgray;
}
