<article>
  <div class = "button-holder">
  <button mat-button class="menu-button" (click)="finalizeDeck()">
    <span>Add Cards To Deck</span>
  </button>
  </div>
  
  <div class = "button-holder">
  <button mat-button class="menu-button" (click)="finalizeSell()">
    <span>Quick Sell Cards</span>
  </button>
  </div>

  <div class = "button-holder">
  <button mat-button class="menu-button" (click)="getRandomCard()">
    <span>Get Random Card</span>
  </button>
  </div>

<div class="table-holder mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        {{col}}
      </th>
      <td mat-cell *matCellDef="let element">
        {{element[col]}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index;" (click)="rowClick(row,i)"></tr>
  </table>
</div>
</article>