<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <span>HOME</span> -->
       <span>MTG</span>
       <span class="spacer"></span>
       <button mat-button class="menu-button" (click)="toggleSideNav()">
        Toggle Side Nav
      </button>
      <span class="spacer"></span>
       <a mat-button (click)="logout()">Logout</a>
    </mat-toolbar-row>
  </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav *ngIf="this.sideNavVisible == true" mode="side" opened>
          <h1 class="name">{{this.username}}</h1>
          <p class="balance">${{this.userBalance}}</p>
          <button mat-button class="menu-button" (click)="userProfile()">
            <span>Profile</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-button class="menu-button" (click)="userInventory()">
            <span>Inventory</span>
          </button>
          <button mat-button class="menu-button" (click)="userDecks()">
            <span>Deck</span>
          </button>
          <button mat-button class="menu-button" (click)="marketplace()">
            <span>Marketplace</span>
          </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
 
